/* added inter font */
.font-inter {
  font-family: "Inter", sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:75%;
    max-width: 1200px;
    margin: 0 auto;
}


/* shared style */
.theme-color{
    background-color: #1A0B2E;
    color:white;
}
.btn-primary{
    display: flex;
    align-items: center;
    gap:6px;
    font-size:18px;
    padding: 1rem 0.9rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:#FFFFFF;
  
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.85rem 0;
}


.brand-name{
    font-size: 3.75rem;
    font-weight: 800;
}
.brand-name > span{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:transparent;
    background-clip: text;
}

.nav-items{
    display: flex;
    gap:2rem;
}
.nav-items li{
    list-style: none;
    font-weight: 600;
    color:#FFFFFF;
}
.hamburger-img{
    display: none;
    width: 24px;
    height: 24px;
}
.nav-hr{
    border: 1px solid #f529b81f;
}

@media screen and (max-width:576px) {
    .container{
        width: 95%;
    }

    /* nav related */
    .navbar{
        padding: 1.25rem 0;
    }
    .nav-items, .navbar button{
        display: none;
    }
    .brand-name{
        font-size: 2.5rem;
    }
    .hamburger-img{
        display: block;
    }
}