/* added inter font */
.font-inter {
  font-family: "Inter", sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:75%;
    max-width: 1200px;
    margin: 0 auto;
}


/* shared style */
.theme-color{
    background-color: #1A0B2E;
    color:white;
}
.btn-primary{
    display: flex;
    align-items: center;
    gap:10px;
    font-size:18px;
     padding: 0.8rem 1.25rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:#FFFFFF;
  
}
.btn-secondary{
    display: flex;
    gap:8px;
    align-items: center;
    font-size:18px;
    padding: 0.8rem 1.25rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: 2px solid #00FF88;
    background-color: #1a0b2e00;
    color:#00FF88;
}

.section-title{
    font-weight: 700;
    font-size: 3rem;
    color:#FFFFFF;
}
.section-sub-title{
    font-size: 1rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.7);
    line-height: 24px;
}
/* shared style ended */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.85rem 0;
}


.brand-name{
    font-size: 3.75rem;
    font-weight: 800;
}
.brand-name > span{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:transparent;
    background-clip: text;
}

.nav-items{
    display: flex;
    gap:2rem;
}
.nav-items li{
    list-style: none;
    font-weight: 600;
    color:#FFFFFF;
}
.hamburger-img{
    display: none;
    width: 24px;
    height: 24px;
}
.nav-hr{
    border: 1px solid #f529b81f;
}


/* banner section */
#banner{
     background-image: url(./assets/hero-bg.png);
     background-position: center center;
     background-repeat: no-repeat;
    text-align: center;
    margin: 100px auto;
}
.banner-img-box{
    position: relative;
    margin-bottom: 40px;
}

.banner-img-2{
    position: absolute;
    right: 45%;
    top: 25%;
}

.banner-badge{
    position: absolute;
    right: 40%;
    top:0;
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    font-size: 18px;
    font-weight: 600;
    color:#1A0B2E;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}
.banner-content h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    margin-bottom: 1.5rem;
    color:rgba(255, 255, 255, 0.7);
}
.banner-btn-group{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-bottom: 40px;
}
.banner-btn1 img{
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: 2px solid #FFFFFF;
    outline-offset: 2px;
    
}
.banner-btn2 img{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
}


/* about section */
#about{
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-content{
    text-align: center;
}
.about-content h1{
    margin-bottom: 1rem;
}
.about-content p{
    max-width: 700px;
    width: 58%;
    margin:0 auto;
}
.about-hr{
    border: 1px solid #f529b81e;
    margin: 80px 0;
}
.about-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.item-title{
    color:#00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
#rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.item-star{
    font-size: 40px;
}









@media screen and (max-width:576px) {
    /* shared style */
    body{
        padding: 20px;
    }
    .container{
        width: 100%;
    }
    .btn-primary,.btn-secondary{
        padding: 0.7rem 1rem;
        font-size: 1rem;
    }
    .section-title{
        font-size: 2rem;
    }


    /* nav related */
    .nav-items, .navbar button{
        display: none;
    }
    .brand-name,.banner-content h1{
        font-size: 2.5rem;
    }
    .hamburger-img{
        display: block;
    }

    /* banner section */
    #banner{
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: 100% 250px;
        margin-top: 40px;
        margin-bottom: 0;
      
    }
  .banner-img-1{
    width: 60%;
  }
  .banner-img-2{
    width: 20%;
    right: 40%;
  }
    .banner-btn-group{
        gap:8px;
        flex-wrap: wrap;
      
    }
    .banner-btn1 img,.banner-btn2 img{
        width: 14px;
        height: 14px;
    }
    

    .banner-badge{
        right: 18%;
    }


    /* about section */
    #about{
        padding: 40px 0;
    }
    .about-content p{
        width: 100%;
    }
    .about-hr{
         margin: 40px 0;
    }
    .about-items{
        grid-template-columns: repeat(2,1fr);
        gap:1.25rem;
        align-items: center;
        
   
}
    .item-title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .item-star{
        font-size: 1.75rem;
    }
}